.listDetails {
    display: none;
}
.booksContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}
.booksContainer div {
    background-color: #fff;
    margin: 10px 10px 0 5px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    width: 40vw;
}
.booksContainer {
    margin-bottom: 10px;
}
.bookTitle {
    margin: 0;
    padding: 0;
    color: #062148;
}
.bookImage {
    width: 40vw;
    height: auto;
    padding-top: 15px;
    margin: auto;
}
/* ----- buttons ----- */

.button-trio {
    margin: 5px;
    width: 80px; 
}
.button-trio:active {
    animation: buttonClick 1s;
}
@keyframes buttonClick {
    0% {background-color: #f9bf91; border: 2px inset #f9bf91; transform: scale(1.1);} 
    15% {background-color: #f59548; border: 2px inset #f59548; transform: scale(1.1);}
    90% {background-color: #f59548; border: 2px inset #f59548; transform: scale(1.1);}
    100% {background-color: #f9bf91; border: 2px outset #f9bf91; transform: scale(1.1);}
}
#buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 0 0 0;
}

/* text styling */

.noBottomMg {
    margin-bottom: 0;
}
.noTopMg {
    margin-top: 0;
}

/* ----- media queries ----- */

@media only screen and (min-width: 550px) {

    .booksContainer {
        grid-template-columns: 33% 33% 33%;
    }
    .booksContainer div {
        width: 30vw;
    }
    .bookImage {
        margin: auto;
        width: 28vw;
        height: auto;
        padding-top: 15px;
    }
    #buttons {
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
        margin: 5px auto 15px auto;
    }
}