#pop-up{
  position: relative; 
  top: 200px; 
  width: 500px; 
  margin: 0 auto; 
  text-align: center;
}

.verticalAd {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -50%);
  height: 500px;
  width: 160px;
  opacity: 0;
  animation: popUp 5s ease forwards; 
}

@keyframes popUp {
  0% {opacity: 1;}
  80% {transform: translate(-52%, -50%) scale(1); opacity: 1;}
  100% {transform: translate(-52%, -50%) scale(0); opacity: 1;}
}