/* ----- Google fonts ----- */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* ----- body ----- */

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* ----- header ----- */

header {
    display: flex;
    flex-flow: column nowrap;
}
header {
    background-color: #062148;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}
#header-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #062148;
    height: auto;
    width: 100%;
}
button {
    background-color: #f9bf91;
    color: #000;
    font-weight: bold;
    padding: 8px;
    border: none;
}
header h1 {
    margin: auto;
    font-size: 3em;
    padding-bottom: 10px;
    text-transform: uppercase;

}
header h2 {
    font-weight: normal;
    font-size: 2em;
    margin: auto;
    width: 90%;
}
header p {
    margin-bottom: 0;
}

/* ----- nav ----- */

nav {
    background-color: #062148;
    color: #fff;
    padding: 10px;
    display: none;
}
nav a {
    text-decoration: none;
}
nav p {
    color: #fff;
    margin: 0;
    padding: 10px;
    text-align: center;
}
nav ul {
    padding: 0;
    margin: 0;
    height: 160px;
}
nav#ham-menu {
    padding: 0;
}
li.urlList {
    list-style-type: none;
    border-bottom: 1px solid #84a6c2;
    width: 100%;
    margin: 0;
    padding: 0 0 15px 15px;
}
li.urlList:first-of-type {
    border-top: 1px solid #84a6c2;
    padding-top: 15px;
}

.menu-bars {
    position: relative;
    left: -5px;
}
button.menu-icon {
    background-image: none;
    background-color: transparent;
    border: none;
    height: 40px;
    width: 45px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.bar {
    background-color: #fff;
    height: 4px;
    width: 40px;
    margin: 7px;
}

/* ----- main ----- */

main {
    min-height: 400px;
    background-color: #e1e1e1;
    margin-bottom: 45px;
}

/* ----- list data ----- */

.buttonAndCategoryName {
    background-image: radial-gradient(#84a6c2, #2a5381);
    border: none;
    border-bottom: 5px outset #2a5381;
    color: #fff;
    padding-right: 15px;  
    margin: 0; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
/* ----- list details ----- */

button.categoryItem {
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    padding-left: 15px;
}
.down-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
    margin-right: 10px;
    line-height: 40px;
    align-items: center;
}

/* ----- footer ----- */
 
footer {
    background-color: #062148;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.large-ad {
    display: none;
}

/* ----- ads ----- */

.verticalAd2 {
    display: none;
}

.amazonAd {
    position: absolute;
    right: 0;
}

@media only screen and (min-width: 550px) {

    main {
        margin-bottom: 70px;
    }
    footer {
        height: 70px;
    }
    .large-ad {
        position: absolute;
        right: 0;
        display: inline-block;
        border: none;
        width: 320px;
        margin: 10px;
    }
    .amazonAd {
        display: none;
    }

}