body {
    background-color: #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* ----- header ----- */

header, footer {
    background-color: #244d78;
    background-image: repeating-linear-gradient(to right,#2a5381, #3c76a6, #2a5381);
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 3em;
    padding-bottom: 10px;
    text-transform: uppercase;
}
header h2 {
    font-weight: normal;
    font-size: 1.25em;
    margin: 0;
}

/* ----- nav ----- */

nav {
    background-color: #244873;
    color: #fff;
    padding: 10px;
}
nav a {
    text-decoration: none;
}
nav p {
    color: #fff;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav ul li {
    font-size: 0.8em;
    margin: 0;
    padding: 10px;  
}

li.jsonList {
    padding: 0 10px;
}

/* ----- body ----- */

main {
    background-color: #fff;
    padding: 20px;
}
ul {
    list-style: none;
    padding: 0;
}

/* -- table -- */
table {
    border-collapse: collapse;
}
th {
    background-color: #2a5381;
    color: #fff;
}
th, td {
    border: 1px solid #000;
    margin: 0;
    padding: 5px;
}
/* -- end table --*/

pre {
    padding-left: 10px;
}

main * h2 {
    border-bottom: 1px solid #bababa;
}

h3 {
    font-size: 1.2em;
}

.small-text {
    font-size: 0.75em;
}

iframe {
    height: 192px;
    width: 335px;
    padding-top: 20px;
}

h3 {
    text-decoration: underline #bababa;
}

.external-image {
    width: 350px;
    height: auto;
    margin: auto;
}