.columns {
    display: flex;
    flex-flow: row wrap;
}
.rotateBox, .skewBoxX, .skewBoxY, .scaleBoxSmall .scaleBoxLarge, .box {
    height: 100px;
    width: 100px;
    background-image: repeating-linear-gradient(to right,#2a5381, #bababa, #2a5381);
    margin: 30px;
}
.rotateBox {
    transform: rotate(45deg);
}

.skewBoxY {
    transform: skewY(30deg);
}
.skewBoxX {
    transform: skewX(30deg);
}
.scaleBoxLarge {
    transform: scaleX(1.5);
    margin-left: 40px;
}
.scaleBoxSmall {
    transform: scaleY(.5);
    margin-left: 40px;
}

figcaption {
    text-align: center;
}