.columns {
    display: flex;
    flex-flow: row wrap;
}
.box {
    height: 100px;
    width: 100px;
    background-image: repeating-linear-gradient(to right,#2a5381, #bababa, #2a5381);
    margin: 30px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    line-height: 100px;
}

/* Rotate */
.rotateBoxX:hover {
    transform: rotateX(180deg);
}
.rotateBoxY:hover {
    transform: rotateY(180deg);
}
.rotateBoxZ:hover {
    transform: rotateZ(180deg);
}
.rotateBoxXYZ:hover {
    transform: rotate3d(80,90,30,90deg);
}
.second-box {
    height: 100px;
    width: 100px;
    background-image: repeating-linear-gradient(to right,#2a5381, #bababa, #2a5381);
    margin: 30px;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    line-height: 30px; 
}
/* Skew */
.skewBoxY:hover {
    transform: skewY(30deg);
}
.skewBoxX:hover {
    transform: skewX(30deg);
}
.skewBoxXandY:hover {
    transform: skew(-50deg,30deg);
}

/* Scale */
.scaleX:hover {
    transform: scaleX(1.5);
    margin-left: 40px;
}
.scaleY:hover {
    transform: scaleY(.5);
    margin-left: 40px;
}
.scaleBoxXandY:hover {
    transform: scale(2.5, 1.5);
}
.scaleZ:hover {
    transform: perspective(100px) scaleZ(1) rotateX(45deg);
    margin-left: 40px;
}

/* translate */
.translateXY:hover {
    transform: translate(50px,-30px);
}
.translateY:hover {
    transform: translateY(-40px);
}
.translateX:hover {
    transform: translateX(80px);
}
.translateZ:hover {
    transform: perspective(300px) translateZ(100px);
}

/* figure */
figcaption {
    text-align: center;
}

/* letter changes */

.textbox {
    background-color: #bababa;
    padding: 10px;
    margin: 10px;
}
.textbox:hover {
    background-color: #3c76a6;
    color: #fff;
}
#uppercase:hover {
    text-transform: uppercase;
}
#lowercase:hover {
    text-transform: lowercase;
}
#capitalize:hover {
    text-transform: capitalize;
}

/* Cube */
.scene {
    width: 200px;
    height: 200px;
    perspective: 600px;
    margin: 80px 0px 80px 80px;
    transform:rotateX(-30deg) rotateY(-30deg) translate3d(0,0,0);
    transform-style:preserve-3d;
  }
  
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }
  
  .cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    font-size: 2em;
    line-height: 200px;
    text-align: center;
    color: #fff;
  }


.cube__face--front {
    background-color: lightblue;
    opacity: 0.5;
}
.cube__face--right {
    background-color: black;
    opacity: 0.5;
}
.cube__face--back {
    background-color: gray;
    opacity: 0.5;
}
.cube__face--left {
    background-color: black;
    opacity: 0.5;
}
.cube__face--top {
    background-color: #3c76a6;
    opacity: 0.5;
}
.cube__face--bottom {
    background-color: #3c76a6;
    opacity: 0.5;
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
