#square {
    width: 200px;
    height: 200px;
    background-color: #3c76a6;
    transition: opacity 1s;
}

#list {
    background-color: #f9bf91;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    border: 1px outset #f9bf91;
    margin: auto;
    display: none;
}

#list h2 {
    text-decoration: none;
    text-align: center;
}

hr {
    margin-top: 5px;
    border: none;
    height: 2px;
    background-color: #3c76a6;
}

.close-button {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}

  /* ----- Transform Box ----- */

  #transform-box {
      height: 200px;
      width: 200px;
      background-color: maroon;
  }
  #transform-box p {
      color: #fff;
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      line-height: 200px;
      margin: 0;
  }

  /* ----- Rolling Box ----- */

  #rolling-box {
    width: 200px;
    height: 200px;
    background-color: maroon;
    transform: rotate(0deg);
}

#rolling-box:active, #rollingBox {
    width: 50px;
    height: 50px;
    background-color: #3c76a6;
    border-radius: 50%;
    transform: rotate(45deg);
}

/* Animation Trigger */
  
.pokeball {
    display: inline-block;
    margin: 20px;
    width: 100px;
    height: 100px;
    background: #b71c1c;
    border-radius: 50%;
    box-shadow:  inset 0 -72px 0 -37px #fff, inset 0 -76px 0 -35px #000, 0 0 0 5px #000;
    position: relative;
    transition: .4s;
    transform-origin: bottom center;
    // Remove mobile tab color
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.pokeball:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    top: 50px;
    left: 40px;
    border: 1px solid rgba(0,0,0,.4);
    box-shadow: 2px 0 0 0 rgba(0,0,0,0.2), 0 0 0 5px #fff, 0 0 0 10px #000;
}

,pokeball:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    border-radius: 50%;
    box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);
}

.wiggle {
    animation: anti-wiggle 1s ease-in-out;
}
    
.wiggle-right {
    animation: wiggle 1s ease-in-out;
}

@keyframes wiggle {
    20% {box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4); transform: rotate(7deg);}
    40% {box-shadow:  inset -11px 0 5px 0 rgba(0,0,0,.4); transform: rotate(-14deg);}
    60% {box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4); transform: rotate(4deg);}
    80% {box-shadow:  inset -8px 0 5px 0 rgba(0,0,0,.4); transform: rotate(-2deg);}
    100% {box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4); transform: rotate(0deg);}
  }
  

@keyframes anti-wiggle {
    20% {transform: translateX(4px) rotate(-7deg);}
    40% {transform: translateX(-8px)  rotate(14deg);}
    60% {transform: translateX(2px)  rotate(-4deg);}
    80% {transform: translateX(-1px)  rotate(2deg);}
    100% {transform: translateX(0px) rotate(0deg);}
  }
  
  /* Flip boxes */

.flip3D { 
    width:200px; 
    height:200px; 
    margin:10px; 
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 3em;
    font-weight: bold;
 }
.front {
	position:absolute;
	transform: perspective( 600px ) rotateY( 0deg );
    background: maroon; 
    width:200px; 
    height:200px; 
	backface-visibility: hidden;
    transition: transform .5s linear 0s;
}
.back{
	position:absolute;
	transform: perspective( 600px ) rotateY( 180deg );
    background: #3c76a6; 
    width:200px; 
    height:200px; 
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}
.flipOver, .flipBack {
    width:200px; 
    height:200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 3em;
    font-weight: bold;
}
.flipOver > .front {
    transform: perspective( 600px ) rotateY( -180deg );
}
.flipOver > .back {
    transform: perspective( 600px ) rotateY( 0deg );
}
.flipBack > .front {
    transform: perspective( 600px ) rotateY( 0deg );
}
.flipBack > .back {
    transform: perspective( 600px ) rotateY( 180deg );
}