#square {
    width: 200px;
    height: 200px;
    background-color: #3c76a6;
    transition: opacity 1s;
}

#list {
    background-color: #f9bf91;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    border: 1px outset #f9bf91;
    margin: auto;
    display: none;
}

#list h2 {
    text-decoration: none;
    text-align: center;
}

hr {
    margin-top: 5px;
    border: none;
    height: 2px;
    background-color: #3c76a6;
}

.close-button {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}

  /* ----- Transform Box ----- */

  #transform-box {
      height: 200px;
      width: 200px;
      background-color: maroon;
  }
  #transform-box p {
      color: #fff;
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      line-height: 200px;
      margin: 0;
  }

  /* ----- Rolling Box ----- */

  #rolling-box {
    width: 200px;
    height: 200px;
    background-color: maroon;
    transform: rotate(0deg);
}

#rolling-box:active, #rollingBox {
    width: 50px;
    height: 50px;
    background-color: #3c76a6;
    border-radius: 50%;
    transform: rotate(45deg);
}